.text-green {
  color: #4caf50;
}

.text-blue {
  color: #2196f3 !important;
}

.text-black {
  color: #000 !important;
}

.text-red {
  color: red;
}

.text-black-45 {
  color: rgba(0, 0, 0, 0.45);
}

.text-black-70 {
  color: rgba(0, 0, 0, 0.7);
}

.bg-black-02 {
  background-color: rgba(0, 0, 0, 0.02);
}

.text-antique {
  color: rgb(255, 249, 235);
}

.text-gray {
  color: rgb(136, 136, 136);
}

.bg-grayish {
  background-color: rgb(37, 37, 37);
}
